<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Dell/IdeaProjects/LearningSeleniumATBx"><classes><class name="com.thetestingacademy.ex01_18122024.Selenium01"><methods><include name="test_Selenium"/></methods></class></classes></test></suite>